<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
			class="absolute inset-0 bg-gradient-to-r from-amber-400 to-red-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
		</div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">
        <div>
          <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Registrar</h1>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="py-8 text-base leading-6 space-y-6 text-gray-700 sm:text-lg sm:leading-7">
          <div class="relative">
            <input
              type="text"
              id="username"
              name="username"
              formControlName="username"
              placeholder="Usuário"
              class="peer placeholder-transparent h-10 w-full border-b-2 border-black text-gray-900 
                focus:outline-none focus:border-violet-500 bg-transparent" 
              required
            >
            <label 
              for="username" 
              class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base 
              peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 
              peer-focus:text-gray-600 peer-focus:text-sm"
            >
              Usuário
            </label>
            <div class="text-red-500 text-sm mt-1" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
              <span *ngIf="username?.errors?.['required']">Nome de usuário é obrigatório</span>
              <span *ngIf="username?.errors?.['minlength']">O nome de usuário deve ter pelo menos 3 caracteres</span>
          </div>
        </div>

        <div class="relative">
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            class="peer placeholder-transparent h-10 w-full border-b-2 border-black text-gray-900 
            focus:outline-none focus:border-violet-500 bg-transparent"
            placeholder="Email"
            required
          >
          <label 
            for="email" 
            class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base 
            peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 
            peer-focus:text-gray-600 peer-focus:text-sm"
          >
            E-mail
          </label>
          <div class="text-red-500 text-sm mt-1" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <span *ngIf="email?.errors?.['required']">E-mail é obrigatório</span>
            <span *ngIf="email?.errors?.['email']">Por favor insira um e-mail válido. Exemplo: aluno&#64;gmail.com.br</span>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-4 relative">
          <div>
            <input
              type="text"
              id="first_name"
              name="first_name"
              formControlName="first_name"
              class="peer placeholder-transparent h-10 w-full border-b-2 border-black text-gray-900 
              focus:outline-none focus:border-violet-500 bg-transparent"
              placeholder="Nome"
              required
            >
            <label 
              for="first_name" 
              class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base 
              peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 
              peer-focus:text-gray-600 peer-focus:text-sm"
            >
              Nome
            </label>
            <div class="text-red-500 text-sm mt-1" *ngIf="first_name?.invalid && (first_name?.dirty || first_name?.touched)">
              <span *ngIf="first_name?.errors?.['required']">Nome é obrigatório</span>
            </div>
          </div>

          <div class="relative">
            <input
              type="text"
              id="last_name"
              name="last_name"
              formControlName="last_name"
              class="peer placeholder-transparent h-10 w-full border-b-2 border-black text-gray-900 
              focus:outline-none focus:border-violet-500 bg-transparent"
              placeholder="Sobrenome"
              required
            >
            <label 
              for="last_name" 
              class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base 
              peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 
              peer-focus:text-gray-600 peer-focus:text-sm"
            >
              Sobrenome
            </label>
            <div class="text-red-500 text-sm mt-1" *ngIf="last_name?.invalid && (last_name?.dirty || last_name?.touched)">
              <span *ngIf="last_name?.errors?.['required']">Sobrenome é obrigatório</span>
            </div>
          </div>
        </div>

        <div class="relative">
          <div class="flex items-center">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              formControlName="password"
              class="peer placeholder-transparent h-10 w-full border-b-2 border-black text-gray-900 
              focus:outline-none focus:border-violet-500 bg-transparent"
              placeholder="Senha"
              required
            >
            <label 
              for="password" 
              class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base 
              peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 
              peer-focus:text-gray-600 peer-focus:text-sm"
            >
              Senha
            </label>
            <button 
              type="button"
              class="absolute right-2 text-gray-600"
              (click)="showPassword = !showPassword"
            >
              <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
            </button>
          </div>
          <div class="text-red-500 text-sm mt-1" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <span *ngIf="password?.errors?.['required']">A senha é obrigatória</span>
            <span *ngIf="password?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres</span>
          </div>
        </div>

        <div class="relative">
          <div class="flex items-center">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              id="confirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
              class="peer placeholder-transparent h-10 w-full border-b-2 border-black text-gray-900 
              focus:outline-none focus:border-violet-500 bg-transparent"
              placeholder="Confirmar Senha"
              required
            >
            <label 
              for="confirmPassword" 
              class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base 
              peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 
              peer-focus:text-gray-600 peer-focus:text-sm"
            >
              Confirmar Senha
            </label>
            <button 
              type="button"
              class="absolute right-2 text-gray-600"
              (click)="showConfirmPassword = !showConfirmPassword"
            >
              <i class="fas" [class.fa-eye]="!showConfirmPassword" [class.fa-eye-slash]="showConfirmPassword"></i>
            </button>
          </div>
          <div class="text-red-500 text-sm mt-1" *ngIf="registerForm.errors?.['mismatch']">
            As senhas não coincidem
          </div>
        </div>
      <button 
        type="submit" 
        class="w-full bg-violet-400 text-black rounded-md px-2 py-1 hover:bg-violet-500 hover:text-white disabled:bg-gray-400 disabled:text-gray-600"
        [disabled]="registerForm.invalid || isLoading" 
      >
        {{ isLoading ? 'Registrando...' : 'Registrar' }}
      </button>
    </form>
    <div class="text-red-500 text-sm mt-1" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <button 
      (click)="navigateToLogin()"
      class="w-full text-blue-600 hover:underline"
    >
      Já possui uma conta? Acesse aqui.
    </button>
  </div>
</div> 