<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
		<div
			class="absolute inset-0 bg-gradient-to-r from-amber-400 to-red-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
		</div>
		<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
			<div class="max-w-md mx-auto">
				<div>
					<h1 class="text-2xl text-center font-semibold">Acesse a sua conta</h1>
				</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="py-8 text-base leading-6 space-y-6 text-gray-700 sm:text-lg sm:leading-7">
          <div class="relative">
            <input 
              autocomplete="off" 
              id="email" 
              name="email" 
              type="text" 
              class="peer placeholder-transparent h-10 w-full border-b-2 border-black text-gray-900 
                focus:outline-none focus:border-violet-500 bg-transparent" 
              placeholder="Usuário" 
              formControlName="username"
              required
            />
            <label 
              for="email" 
                class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base 
                  peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 
                  peer-focus:text-gray-600 peer-focus:text-sm"
              >
                Usuário
            </label>
          </div>
          <div class="relative">
            <div class="flex items-center">
              <input 
                autocomplete="off" 
                id="password" 
                name="password" 
                [type]="showPassword ? 'text' : 'password'"
                class="peer placeholder-transparent h-10 w-full border-b-2 border-black text-gray-900 
                  focus:outline-none focus:border-violet-500 bg-transparent" 
                placeholder="Senha" 
                formControlName="password" 
                required
              />
              <label 
              for="password" 
              class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 
                peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm"
              >
                Senha
                </label>
              <button 
                type="button"
                class="absolute right-2 text-gray-600"
                (click)="showPassword = !showPassword"
              >
                <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
              </button>
            </div>
          </div>
          <div class="relative">
            <button 
              type="submit" 
                class="w-full bg-violet-400 text-black rounded-md px-2 py-1 hover:bg-violet-500 hover:text-white disabled:bg-gray-400 disabled:text-gray-600"
                [disabled]="!loginForm.valid || isLoading"
              >
                {{ isLoading ? 'Entrando...' : 'Entrar' }}
            </button>
          </div>
        </form>
        <div *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <button 
          (click)="navigateToRegister()"
          class="w-full text-blue-600 hover:underline"
        >
          Não possui uma conta? Cadastre-se aqui.
        </button>
			</div>
		</div>
	</div>
</div>